

body{
    

}

.sender-form{
    
    padding: 15px;
}
.bg-grey{
    background-color: #f2f2f2;
}
.even-parity-row{
    padding-top: 15px; 
}
.form-head{
    text-align: center;

}
.level-2-wrapper{
    padding-top: 15px;
}
.no-right-radius{
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}
.no-left-radius{
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    height: fit-content;
}
.center{
        display: block;
        margin-left: auto;
        margin-right: auto;
}
.dispnone{
    display: none;
}
.overflow-para{
    /* display: block; */
    overflow-y: scroll;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    min-height: 50px;
    max-height: 130px;
}